<form method="post" action="options.php">
    <?php settings_fields('my-plugin-settings-group'); ?>
    <?php do_settings_sections('my-plugin-settings-group'); ?>
    <table class="form-table">
        <tr valign="top">
        <th scope="row">Phone Number</th>
        <td><input type="text" name="phone_number" value="<?php echo esc_attr(get_option('phone_number')); ?>" /></td>
        </tr>
        <tr valign="top">
        <th scope="row">Message</th>
        <td><input type="text" name="message" value="<?php echo esc_attr(get_option('message')); ?>" /></td>
        </tr>
    </table>
    <?php submit_button(); ?>
</form>
